.chart-wrapper, canvas {
  margin: 10px;
  max-width: 1250px;
}
.app {
  background-color: rgba(59, 73, 88, 0.6);
}
.navbar {
  position: relative;
  border-radius: 17px;
  display: box-flex;
  flex-wrap: wrap;
  height: fit-content;
  width: fit-content;
  -ms-flex-align: center;
  margin-right: auto;
  background-color: rgba(35, 55, 75, 0.6);
}
.chart-wrapper {
  margin-top: 50px;
  border-radius: 25px;
}
.container {
  border-radius: 25px;
  display: box-flex;                  /* establish flex container */
  flex-direction: inherit; 
  position: absolute;
  width:90%;
  height: 90%;
  margin-left: 75px;
  overflow: scroll;        /* default value; can be omitted */
  flex-wrap: wrap;   
  -ms-flex-item-align: auto;           /* default value; can be omitted */
   /* switched from default (flex-start, see below) */
   background-color: rgba(35, 55, 75, 0.6);
}

.chart-wrapperB {
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 50px;
  justify-content: center;
  position: relative;
  background-color: rgb(148, 137, 137);
}
.chart-wrapperC {
  border-radius: 4px;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  background-color: rgb(148, 137, 137);
}

.btns-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  position: relative;
}

.input {
  margin-left: 20px;
  width: 250px;
}

.title {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
.navbar {
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
.info {
  margin-left: 450px;
  justify-content: center;
}
.start {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
.chartBarVol {
  position: top;
  width:50%;
  height: 50%;
}
.chartBarRad {
  position: top;
  width:50%;
  height: 50%;
}
.chartBarLin {
  position: top;
  width:100%;
  height: 80%;
  margin-bottom: 75px;
}