.chart-wrapper, canvas {
  margin: auto;
  max-width: 1250px;
}

.chart-wrapper {
  margin-top: 50px;
}
.container {
  border-radius: 4px;
  display: flex;                  /* establish flex container */
  flex-direction: row; 
  height:fit-content;           /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: 100px; /* switched from default (flex-start, see below) */
  margin-bottom:800px;
  background-color: rgb(185, 183, 183);
}
.container > div {
  width: 50px;
  height: 50px;
  border-radius: 4px rgb(95, 62, 32);
}
.chart-wrapperB {
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 50px;
  justify-content: center;
  position: relative;
  background-color: rgb(148, 137, 137);
}
.chart-wrapperC {
  border-radius: 4px;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  background-color: rgb(148, 137, 137);
}
.explaination {
  justify-content: center;
  border-radius: 4px;
  margin-left: 275px;
  margin-right: 300px;
  background-color: rgb(216, 191, 53);
}
.btns-wrapper {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  position: relative;
}

input {
  margin-left: 20px;
  width: 250px;
}

.title {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
.navbar {
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
.info {
  margin-left: 450px;
  justify-content: center;
}
.start {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}
